/* Intentionally left blank */

body {
  background-color: #6A0888;
}

#container {
  margin: auto;
  font-family: Roboto Condensed;
  color: #dbdee3;
  background-image: url("/static/img/ttrain.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 1020px;
  min-height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,.4);
  padding-bottom: 2em;
  position: absolute;
  left: calc(50% - 510px);
}

article {
  position: relative;
  top: 2em;
  width: 600px;
  background-color: rgba(30,30,30,0.8);
  left: 300px;
  padding: 2em;
  z-index: 10;
  margin-bottom: 2em;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

article a {
  color: #59f;
  border-bottom: 1px solid #59f;
  text-decoration: none;
}

/*
 Aside
*/

header aside {
  font-size: 70%;
}

/*
 Header
*/

.header-container {
  position: fixed;
  background-color: rgba(30,30,30,0.8);
  width: 250px;
  height: 100%;
}

nav ul li a, .header-container aside h2, .header-container aside h3 {
  padding-left: 1em; 
  
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  font-size: 1.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: #dbdee3;
  text-decoration: none;
  transition: background-color .25s;
}

nav ul li ul li a {
  padding-left: 3em;
  font-size: 1em;
}

nav ul li a:hover {
  background-color: #ff2929;
  color: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

h1.title {
  color: rgba(0,0,0,0);
  height: 100px;
  background-image: url("/static/img/logo-fyldt-skinne.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 20px 0;
}

.header-container aside h2 {
  padding-top: 0.5em;
  margin-top: 1em;
}

.header-container aside ul {
  list-style: none;
}

.header-container aside ul li {
  padding: 4px 0;
}

.header-container aside ul li a {
  color: inherit;
  text-decoration: none;
  transition: color .3s, border .3s;
  border-bottom: 1px solid rgba(85,153,255,0);
}

.header-container:hover aside ul li a {
  color: #59f;
  border-bottom: 1px solid #59f;
}

.new {
  color: #ff2929;
  padding-left: 1em;
  font-size: 90%;
}

a:hover .new {
  color: #fff;
  transition: color .3s, border .3s;
}

/*
 Poster image
*/

#poster-image {
  width: 600px;
  padding: 0; margin: 0;
  background-image: url("");
  background-size: cover;
  height: 350px;
  box-shadow: 0 0 10px black;
}
#poster-image blockquote {
  padding-top: 1px;
  position: relative;
  top: 10px;
  left: 10px;
  width: 350px;
  margin: 0;
}

#poster-image blockquote p {
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  font-size: 2em;
  font-style: italic;
}

/*
 Footer
*/

footer {
  position: fixed;
  width: 250px;
  height: 50px;
  bottom: 0;
  background-image: url('/static/img/pfdtu.svg');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 1em; 
}

/*
Form
*/

input, textarea, select, button { 
  font-family: "Roboto Condensed";
}

input, textarea {
  border: 0;
  border-radius: 2px;
  padding: 5px;
}

input[type=file] {
  background-color: rgba(0,0,0,0);
}

input, textarea, select {
  margin-top: .25em;
  margin-bottom: 1.5em;
}

input[type=checkbox] {
  margin: 0;
  margin-right: .5em;
}

form h3 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

form ul {
  list-style: none;
}

@media screen and (max-width:1000px) {

  
  
  .header-container {
    position: static;
    width: 100%;
  }
  
  header {
    width: 250px;
    margin: 0 auto;
  }
  
  #container {
    position: static;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  article {
    position: static;
    width: auto;
    padding: 2em;
  }
  
  #poster-image {
    width: 100%;
  }
  
  footer {
    position: static;
    width: 100%;
    margin-bottom: 0;
  }
  
  aside {
    display: none;
  }
}

@media screen and (max-height:680px) {
  header aside {
    display: none;
  }
}

