:root {
  --article-color: rgba(000, 000, 000, 0.9);
  --nav-color: rgba(0, 0, 0, 0.92);
  --cdwn-color: rgba(92, 92, 92, 0.5);
}

body {
  background-color:rgb(220, 253, 158);
}

#container {
  margin: auto;
  top: 0;
  font-family: "Droid", sans-serif;
  color: #000000;
  background-image: url("/static/img/KABS_25_Bakground.png");
  background-size: auto 100%;
  background-position: top;
  background-attachment: fixed;
  width: 1020px;
  min-height: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  padding-bottom: 2em;
  position: absolute;
  left: calc(50% - 510px);
}

article {
  position: relative;
  top: 2em;
  width: 600px;
  left: 300px;
  padding: 2em;
  z-index: 10;
  margin-bottom: 2em;
  background-color: var(--article-color);
  line-height: 1.0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

article a {
  text-decoration: none;
  font-weight: bold;
  color: #211e1f;
}

/*
 Aside

 rgba(0, 0, 0,0.8)
*/

header aside {
  font-size: 70%;
}

header a {
  text-decoration: none;
}

/*
 Header
*/

.header-container {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: var(--nav-color);
  text-align: left;
}

nav ul li a,
.header-container aside h2,
.header-container aside h3 {
  padding-left: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  font-size: 0.9em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.25s;
}

nav ul li ul li a {
  padding-left: 3em;
  font-size: 0.9em;
}

nav ul li a:hover {
  background-color: rgb(46, 187, 46);
  color: rgb(118, 114, 112);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

h1.title {
  color: rgba(0, 0, 0, 0);
  height: 180px;
  background-image: url("/static/img/KABS_25_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10%;
  text-align: center;
}

.header-container aside h2 {
  padding-top: 0.5em;
  margin-top: 1em;
}

.header-container aside ul {
  list-style: none;
}

.header-container aside ul li {
  padding: 4px 0;
}

.header-container aside ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, border 0.3s;
  border-bottom: 1px solid rgba(29, 114, 35, 0);
}

.header-container:hover aside ul li a {
  color: #ffcc00;
  border-bottom: 1px solid #ffcc00;
}

.new {
  color: rgba(255, 238, 0, 1);
  padding-left: 1em;
  font-size: 90%;
}

a:hover .new {
  color: #fff;
  transition: color 0.3s, border 0.3s;
}

/*
  Coutdown timer
*/
#clockdiv {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  background-color: var(--cdwn-color);
}

#clockdiv > div {
  padding: 10px;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.seconds {
  color: #d42828;
}

/*
 Poster image
*/

#poster-image {
  width: 600px;
  padding: 0;
  margin: 0;
  background-image: url("");
  background-size: cover;
  height: 370px;
  box-shadow: 0 0 10px black;
}
#poster-image blockquote {
  padding-top: 1px;
  position: relative;
  top: 10px;
  left: 10px;
  width: 350px;
  margin: 0;
}

#poster-image blockquote p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  font-size: 2em;
  font-style: italic;
}

#poster-image-long {
  width: 600px;
  padding: 0;
  margin: 0;
  background-image: url("");
  background-size: cover;
  height: 570px;
  box-shadow: 0 0 10px black;
}

/*
 Footer
*/

footer {
  margin-top: 20px;
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: 50px;
  bottom: 0;
  background-image: url("/static/img/pfDtu.png");
  transform: scale(1.5);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  
}

/*
Form
*/

.applyBtn {
  width: 300px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0;
  border-radius: 25px;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 187, 46);
}

input,
textarea,
select,
button {
  font-family: "Droid", sans-serif;
}

input,
textarea {
  border: 0;
  border-radius: 2px;
  padding: 5px;
}

input[type="file"] {
  background-color: rgba(0, 0, 0, 0);
}

input,
textarea,
select {
  margin-top: 0.25em;
  margin-bottom: 1.5em;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 0.5em;
}

form h3 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

form ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

th {
  background-color: (0, 170, 12, 1);
  color: white;
}

th,
td {
  padding: 15px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .header-container {
    position: static;
    width: 100%;
  }

  header {
    width: 250px;
    margin: 0 auto;
  }

  #container {
    position: static;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  article {
    position: static;
    width: auto;
    padding: 2em;
  }

  #poster-image {
    width: 100%;
  }

  footer {
    position: static;
    width: 100%;
    margin-bottom: 0;
  }

  aside {
    display: none;
  }
}

@media screen and (max-height: 680px) {
  header aside {
    display: none;
  }
}

.X{
  margin: auto;
  padding: 1% 2%;
  max-width: 1440px;
  border-radius: 5px;
  background: #ecf0f1;
  box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
}



/*
li{
  color: #2c3e50;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: 'Raleway', serif;
}
*/
/*SG = style grid*/
.SG{
  margin: 0;
  padding: 0;
  text-align: center;
}

.sgLi{
  text-align: left;
}

.SGh3{
  font-size: larger;
  text-align: center;
}
.SG .sgLi{
  /*min-width: 24%;*/
  margin: 2% .35%;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.notdf{
  margin: 0;
  padding-left: 30px;
}
 
.box{
  width: 100%;
  /*height: 100vh;*/
  padding: 1% 2%;
  margin: 0px 25px 25px 0px;
  background: rgba(255, 255, 255);
  min-height: 200px;
  /*max-height: 370px;*/
  box-sizing: border-box;
}
