--- 
numOfKABS: 28
numOfVectors: 278 
numOfWVectors: 30 
numOfWCKABS: 3 
---


<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Become Awesome! - DiscoKABS is looking for vectors!</title>

    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Link til billede på Facebook forhåndsvisning -->
    <meta property="og:title" content="Blivawesome" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://blivawesome.dk/static/img/kabsBanner22.jpg" />
    <meta property="og:url" content="https://blivawesome.dk/" />
    <meta property="og:description" content="DiscoKABS are looking for Vectors" />

    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300" rel="stylesheet" type="text/css" /> ​

    <link rel="stylesheet" href="/static/css/normalize.min.css" />

    <link rel="stylesheet" href="/static/css/main.css" /> ​

    <script src="static/js/vendor/modernizr-3.6.min.js"></script>

    <!-- This is needed for IE -->
    <link rel="shortcut icon" href="/static/img/Logo_diskoKABS.PNG" type="image/ico" />
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN0kxxkOKXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNkc'...'...';oONWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk;..ckKXXXKko:..'ckXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMKc..lKWMN0kxOXWWXkc..'oKMMMMMMMMMMMMMMMMMMMMMMNXKKKKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK; ,OWMNkdxkkxxx0NMWXd,..dXWMMMMMMMMMMMMMWXOdl:,......;lkXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWo .kMMNxdXWXxdkOkxkXWMNx,.'cxNMMMMMMMMN0d:...':ldxxxxdc'.'oKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK, cNMWkdXM0;   .cxkdkXMMXd. .:KMMMMMXx;..,lkKNMMMMMMMMMXx,.'OWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx..kMMXdOMNc      .cOOxkXMW0d; 'kWMXd'.'l0NMMMWN0kxxkONMMMX: ,0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNl ,KMM0d0MO'        .xKkd0WMMXl..ld,.'xXMMMWXkddxkO00xoKMMM0' lNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK, cNMM0dXNl .:xxo,   .lXKx0WMMNd.  .lXMMMN0xxk00kxKWMWxoXMMWl 'OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx..xMMMOxN0'.dWMMMNk;.  cXKdOWWMWk,;kWMMN0xk00o,.  .dNMNxxWMM0' lNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWo .OMMNxxNd.oWMMMMMMNk; .dWOlo0MMMNNMMWKdxKO:.      .kWM0o0MMWl 'OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN: ;KMMKd0NlcXMMMMMMMMWKo.,KWkcdXMMMMMNxlk0l.   .,'.  ;XMNdxWMM0' lNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO. oWMWkdNKoOMMMMMMMMWkl0x,dWX0dkWMMMWxl00;  'oOXWNO; .kMMOdKMMWo .kMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWo '0MMXdkWOkNMMMMMMMMMO'cKolNWWkdNMMWOdK0,.;kNMMMMMM0, lWMXdkMMMK, cXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK; cNMMOdKWOOMMMMMMMMMMX;.kOdKMMOxXMMKd0K:'xXWMMMMMMMWd.:NMWkxNMMWo 'OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXKXNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWN0l..xMMWddNXkKMMMMMMMMMMNc lKkKMM0dKMWxkXo;k0okWMMMMMMMO.,KMMOxNMMMx..kMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNNWMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMN0xl;'...,cdKWMMMMMMMMMMMMMMMMMMMMMMWXOdc;'..,dNMMNdxWXkKMMMMMMMMMMWl :0k0MM0dXM0dKO:x0;:KMMMMMMMM0,,KMMOxXMMMk..xMMMMMMMMMMMMMMMMMMMMMMMMN0dc:,,,,:o0WMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMNk;..,coxkxl,..oXMMMMMMMMMMMMMMMMMWXko;...;ldkKNMMMMXxOMKkXMMMMMMMMMMWl :Ox0MMOdXNdkNxxK:'kWMMMMMMMMK,;KMMOdXMMMO..dMMMMMMMMMMMMMMMMMMMMMWKd,..;coddo;..lXMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMKc..l0WWNXKXWNx'.;0WMMMMMMMMMMMMWXx:..'cdOXWMMMMMMMMM0oOMKxKMMMMMMMMMMX: lOkXMMOdN0o0KkKx.cNMMMMMMMMMK,cNMMkxNMMM0, lWMMMMMMMMMMMMMMMMMMNOc..,dKWXKXNWWk' :KMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWo .kWWKkkdc:xWWK: 'OWMMMMMMMMMW0l..'oONMMMMMMWNKOxolc,;OMXxOK0NMMMMMMM0'.dOkWMMOlxokW00X:.dWMMMMMMMMM0;oWMNdxWMMMNc ,0MMMMMMMMMMMMMMMWKx;..cONMWOc:okO0N0' cXMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWo .OMXockO0OokWMXc .kWMMMMMMWKc..:kNMMMMMNKxl;'.      .kMWkkx,xWMMMMMMx.;Ok0MMWx..:KW00K,.kMMMMMMWXKWk:OMMKlOMMMMM0, ,kXWMMMMMMMMWKko;..,oKWMMM0ok0OOlcKWo '0MMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMO. oWM0oOWMMKokWMXl..xNMMMMNx..;OWMMMMNOl,.            oWMKxd';KMMMMMNc.d0ONMNKl..oWNOK0''OMMMMMNd':KxdNMMkoXMMMMMMKl'..;loxkkxdc,..':d0NMMMMW0oOWMM0okWNc ,KMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMNc ,KMM0oOWMMKokWMNd..c0NN0:..dNMMMMXd,                ;XMNkx:.xWMMMMK;;0k0MM0d, .xMXOK0''0MMMMNl  cOx0MMXclXMMMMMMMWXOdc;''..'';lx0NWMMMMMMM0oOWMMKokWMO. oWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMO' lNMM0oOWMMKokWMWO:..,'..:0WMMMNx'                  .kMMXko':XMMMMO;dKOXMMk:'.,OMN0K0',KMMMNo. 'xkOWMWx..,:loxOKNMMMMMWNNXXXNWMMMMMMMMMMM0oOWMMKokWMXc ,0MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMWx..dWMW0oOWMWx;kWMMW0xoox0WMMMMXl.                    :XMM0d:,kMMMMx:O0OWMWo...,OMM000,;XMMMO. .dO0WMWO'        .':lx0NMMMMMMMMMMMMMMMMMM0:oNMMKokWMWx..xWMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNo..kMMW0lcc;. .kWMMMMMMMMMMMMNo                      .dWMWOd:oNMMMkoKOOMMX:   .OMMKO0:cNMMNc .dk0WMWO'              .'ckXMMMMMMMMMMMMMM0, .,clckWMMK; :XMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMX: ,KMMWO'     .kWMMMMMMMMMMM0'                    .. .xWMNOolOWMMKOXk0MMX;   .OMMXO0clNMMO'.dk0WMWKl.                  'xNMMMMMMMMMMM0;     .dWMMWd..kMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMO. lNMMWO'     .kWMMMMMMMMMMx.                   .    .OWMNOclKMMWWXk0MMX;   .kMMNOOloWMNc,xOKWMWk'.:;.                  lNMMMMMMMMMK;     .dWMMMK, cXMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMNc ,KMMMWO'     'kWMMMMMMMMMd.                   .     'OMMWOcoXMMMNk0MMNc   .xMMW0OodWWOcdkKMMWk.  .l,                  '0MMMMMMMMK;     .dNMMMWo .OMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMWd .OMMMMWk.     'OWMMMMMMMMk.                    ..    'OWMWKloXMMXx0MMWd.. .dWMMKOdxWKdokXMMWx. ..;;.                  ,0MMMMMMMK;     .dNMMMMK, cNMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMx..kMMMMMWk.     'OWMMMMMMMX:                      .... ,OWMMNko0W0xXMMMKd,  dWMMKkdOXxlkNWNXk:.....                   .dNMMMMMMK:     .oNMMMMWx..kMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMk..xMMMMMMWk.     'OMMMMMMMM0,                       ....;kKNNN0oocoNMMMWNx..dNNXOdloo:;cc;,...             ....',;:ldkXWMMMMMMK:     .oNMMMMMNl ,KMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMWd..kMMMMMMMWk.     'OWMMMMMMWO,                            .',;:;..'clllcc;..'''...                 .codxkO0KKXNNWWMMMMMMMMMMMX:     .oNMMMMMMNl ,KMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM0, cXMMMMMMMMWx.     ,0MMMMWWMMKl.  ..'.                                                    .........lXMMMMMWXO0KXNWMMMMMMMMMMX:     .lNMMMMMMMWo '0MMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMW0; ,0MMMMMMMMMMWx.     ,xOOOxoxOOkodkOkxd'                                            ................lXMMMMWxcloxkkkO0KNNOk0K0:     .lNMMMMMMMMMk..dWMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMNd..:KMMMMMMMMMMMMWd.  .;clodkxdx0XNMMMMKxko.                                     ......................lNMMMWk:odxNMWNX0OOdcldxo;.    lNMMMMMMMMMMX: ;KMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWO:..dNMMMMMMMMMMMNKko;;cdkOOO0XNMMMMMMMMMWk:c;....                     ..................................lNMMM0ccodKWMMMMMMMWX0OOxdl;'';o0NMMMMMMMMMMO' cXMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMW0c..c0WMMMMMMMMWXOxddc;dkO0XWMMMMMMMMMMMMMMMk',l::olc;.................................................    cNMMNo:;.:XMMMMMMMMMMMMMWXKOkkd::dkOKWMMMMMMWk..cXMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMW0l..:OWMMMMMMWNOxxxk0NWd;OMMMMMMMMMMW0KWMMMMMMWXXNkxNMWXc        'ooc:;,,'.........................          ;XMWkck0x0WMMMMMMWNNMMMMMMMMMMWxcOKOkkkk0NMMMWO,.,xNMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMW0c..:kNMMMMMMMNkdk0NWMMMMK::XMMMMMMMMMK:.oKWMMMMMMMMXoxWMX:       .dWMWNNXKO;                                  ,KMKcdWMMMMMMMMWXo;kMMMMMMMMMMWxdNMMMNKkxxOWMMWXo..,xNMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMXo..:OWMMMMMMMMWKllKMMMMMMMM0:dWMMMMMMMWd.  .cONMMMMMMWk:kW0,       ;XMMMMMMMN:                                  '0Wo:KMMMMMMMW0l.  cXMMMMMMMMM0dKMMMMMMMMk:kWMMMWKo..;kNMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMWk,.'kNMMMMMMMMN0kkkoc0WMMMMMMWkcOMMMMMMWx.      ,o0WMMMMNocKk.      'OMMMMMMMMWo                                  .kOckWMMMMWXd;.    .oNMMMMMMMKdOWMMMMMMMXdokk0NMMMWKo'.,dKWMMMMMMMMMMMMMM
MMMMMMMMMMWKc..lXMMMMMMMN0xxOXWMNd:OMMMMMMW0ccXMMMMM0'         .lXMMMMKlxo      .dWMMMMMMMMM0'                                 .looNMMMMKl.        .xWMMMMMNxxNMMMMMMMXxkNWXOkkKWMMWXx,..oXMMMMMMMMMMMMM
MMMMMMMMMNx'.;OWMMMMMWKkkOKWMMMMMWxl0MMMW0l,'.lNMMMWo            lNMMMWkc'      ,KMMMMMMMMMNd.                                  .l0MMMMK;           ;KMMMMWx,;o0WMMMMXxkWMMMMWKkkOXWMMNx'.,kNMMMMMMMMMMM
MMMMMMMMXl..oNMMMMMMMOlkNMMMMMMMMMWko0WMWd.....xWMMNc            ,KMMMMNl       cNMMMMMMMMXl.                                   .dWMMMWd.           .OMMMWO,...:KMMMKxOWMMMMMMMMN0dkNMMMXo..cKMMMMMMMMMM
MMMMMMW0; ,OWMMMMMMNOdod0WMMMMMMMMNx.;KMMXl....,OMMWx.        ..;kWMMMMM0,      oWMMMMMMMXc                                     :XMMMMMO,           ,0MMMK;....oNMM0:lXMMMMMMMMMMKocxXMMMWO, ,0WMMMMMMMM
MMMMMWk'.:KMMMMMMNOxkXW0oxXMMMMMMMK,  :KMMXx;...:XMMNx,..';, .cOXMMMMMMMWx.     cNMMMMMMMk.                                    'OMMMMMMMXOo, ...   'kWMMWo...;xNMM0; .dWMMMMMMMXkx0XOxONMMMK: 'OWMMMMMMM
MMMMM0, :XMMMMMN0xxXMMMMNkx0WMMMMMWk,  :KMMMXx:.'OMMMMWXXXO,  .;xXMMMMMMMNc     'OMMMMMMWd                                    .dWMMMMMMW0o'  .oOkkOXWMMM0,.:xXWMW0,  ,OMMMMMMNOdkNMMMXkx0WMMX: 'OMMMMMMM
MMMMXc '0MMMMMWklOWMMMMMMMXkxKWMMMMWk.  ;0MMMWKl'cxddollc:'  .';:lodxO0XNNO'    .xMMMMMMWo                                    :KNXKOkxdl;.    .:lllooddx:'lKWMMWO'  :KMMMMMW0xkXMMMMMMWXddXMMK; ;KMMMMMM
MMMNo..xWMMMMMMNkdkKWMMMMMMW0cc0WMMMk.   ,xkollllodxxxxxkkOOOOOkxdolcc:::cc'    'OWMMMMMWd                                   .;lccccllloodxkkkOOOOOOkxddllolldkd'   :XMMMWKooKWMMMMMMMXOdkNMMMO. oWMMMMM
MMMO. oWMMMMMMMMMNOdd0WMMMMMWd..oXMMWk;  .,ld0XWMMMMMMMMWWWMMMMMMMMMMWWNXK0Okoc::cllodxkOl.                          ...';codk0KXNWWMMMMMMMMMMMMMMMMMMMMMMWN0xl,.  ,OWMMNx,,OMMMMMMWKkxONMMMMMNl 'OMMMMM
MMNl ,0MMMMMMMMWNNNNkoxKWMMMMO,..;ON0o:;oONWMMMMMMMMMMMWOlclodO0xkkO0KWMMMMMMWWWWNK0OOkxdl:,'................,:clloxO0KXNWMMMMMWWWWWMMMMMMWXOxdoodkKWMMMMMMMMMWNOo;:dKNO:..lXMMMMMKddOXNNNWMMMM0, cNMMMM
MMK, lNMMMMMXxodxxxxxxkdxKWMMXd;'..;:lONMMMMMMMMMMMMMMMMXl...;kO:...':OMMMMMXdloodxXMMMMMMWNX0OO00KK000KKKXXXXNNWWNNWMMMMMMMW0xlc::clxKWMNx;..','..'oXMMMMMMMMMMMMNOo:,...,kWMMMNkdxdoodxxdx0WMWo .OMMMM
MMk..xMMMMMNl,xNWWWNx:kNOoxKWMWNk,.oXWMMMMMMMMMMMMMMMMMMWo...l0d,.,oOKNMMMMMXc....;0MMMMWOoc:;;:cldO0XWMMNOoc:;;:c;cKMMMMMMNd,..:l:'..;OWk'..,oxo,..,OMMMMMMMMMMMMMMWKl.'dKWMWXOxkKo:kXWWWXo;OMM0' oWMMM
MWo '0MMMMMWOcOMMMMWxoXMMN0xxKWWd:OWMMMMMMMMMMMMMMMMMMMMWo...,;..;OWMMMMMWKxl'....;OWMMMWk,...;l;...';xNXo'.'coc,.'dNMMMMMM0;..'cdd:...dWO;....','..:KMMMMMMMMMMMMMMMMWx'oNMXkdkXMWOdKMMMMNl:KMMN: ;KMMM
MNc ;KMMMMMMWxdNMMM0lOMMMMMN0xxkocOWMMMMMMMMMMMMMMMMMMMMWo.......'dNMMMMMKc...';'..,cxXMW0:..'xWKc....;0k,..,dKXOoxNMMMMMMMXo'.....'..:0MW0oc;....,oKWMMMMMMMMMMMMMMMMNx,lOkxONMMMMWxxNMMM0ckMMMWd..kMMM
MX; cNMMMMMMMkoXMMWdlXMMMMWX0Odlc;,xWMMMMMMMMMMMMMMMMMMMWo...;o:..'dNMMMMNd'..';'.....dNO;....;lc,....lXK:....,;:ldONMMMMMMMNOo:'...;dXMMMWKo;.':d00OXMMMMMMMMMMMMMMMNo';::lk0XWMMMM0xKMMMOoKMMMMk..dMMM
MX; cNMMMMMMMOoXMMWxlO0kdlcclodxdc',OMMMMMMMMMMMMMMMMMMMNl...lN0:..'xWMMMXl..''......:ON0l'...,;'....'xNW0c,'.......cKMMMMMMW0l,.;lkKOdOWNx,..;lxxo,'xWMMMMMMMMMMMMMWd':oodolccloxOOxo0MMMkoXMMMMK, lNMM
MX; :XMMMMMMMOoKMMMx;:lodOKNWMMMMWXooNMMMMMMMMMMMMMMMMMWx'...,kKl...,dKNOc..'dx:ll,..:0MMKc..'xXKd,...'dN0lok0Oxo,..,OMMMMMNx,..'colc'.lXk'.........'xWMMMMMMMMMMMMMK:oNMMMMMWX0kdlc,,OMMMkoXMMMMX: :XMM
MX: :XMMMMMMMklKMMMxoXMMMMMMMMMMMMMOdKMMMMMMMMMMMMMMMMMWKkxddoxOdc:;;,::'....:ONXd'...:0NO;...o00d,....cx;..cOK0d,..lXMMMMMO,........''dXOcccllooddxkXMMMMMMMMMMMMMWdcKMMMMMMMMMMMMW0oOMMMxdNMMMMNc ,KMM
MNc ,KMMMMMMMxc0MMMxoXMMMMMMMMMMMMMKoOMMMMMMMMMMMMWNXK0OkkxxkO0KKXXXXXK00OOkxx0WNklcc:;coc''...'......:o:.....''.':kNMMMMMMXxdddxkkO00KXXX0OkxxddxxOKNWMMMMMMMMMMMMKcxWMMMMMMMMMMMMMXx0MMWxoNMMMMWo 'OMM
MWd .OMMMMMMMxc0MMMklKMMMMMMMMMMMMMKldWMMMMMWX0xddlc,.,oollllllllllllclodkO0KNNWWMMWWWNNXXK0OOkxxddxkOXNOkkkxxdxkKNMMMMMMWWNXK0kxolllddooooollllool,'coodxOKNWMMMMMk:OMMMMMMMMMMMMMMXkKMMWdoNMMMMMx..kMM
MMk..dMMMMMMWd:KMMMOl0MMMMMMMMMMMMMXcoWMWXOxdxxxk0KKO:,OWMMMMMMWNNXKk,     .,looooodxkO00KXNNWWWWMMMMMMMWWWNNXXK0OOkxdooooll;.     .dKXNWWWMMMMMMWk:dKXK0OOkxxk0NWMx:0MMMMMMMMMMMMMMKkXMMWdlXMMMMMk..xMM
MM0' lWMMMMMWocXMMMKokWMMMMMMMMMMMMO;xNOdox0NWMMMMMMMXo:xNMMMMMMMMMMM0,    .,xXX0OkxddddddddddxxddddddxddddddoooooooddkO0KXk:.    .xWMMMMMMMMMMMXdl0WMMMMMMMWX0OOOKOcdNMMMMMMMMMMMMWkkWMMMk:OMMMMMk..xMM
MMX; cNMMMMMXoxXKOOOdlOWMMMMMMMMMW0coOolOWMMMMMMMMMMMMWk:l0WMMMMMMMMMWO,.cdOOokWMMMMMMMMMMMWWWNNXXXXXXXXXNNNWWWMMMMMMMMMMM0okKkc'.xWMMMMMMMMMMNkldXMMMMMMMMMMMMMWXkddcoKMMMMMMMMMMNkdO00KXKldNMMMWd..OMM
MMNc ;KMMMMNxll;cl:llclOWMMMMMMMWOcx0loNMMMMMMMMMMMMMMMMXdcoKWMMMMMMMMW0o0WMW0oOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0okWMMKokNMMMMMMMMMWOoo0WMMMMMMMMMMMMMMMMW0k0kdXMMMMMMMMNkllocdOllxokWMMWl '0MM
MMWd..kMMMWk:cc.,coXKocdXMMMMMMMXloNOckWMMMMMWXOkkkkkkkkOOOl;oXMMMMMMMMWOo0WMW0oOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMKokWMMKdkWMMMMMMMMW0llk00OkkOOOkxk0NMMMMMMMWOONkOMMMMMMMM0xlxNKxo;lkdlOMMWl ,0MM
MMMK, cNMMNo;x0:.lXWWxcdKMMMMMMMNdxWNOxKWMWXkdxk0XNXKKkdocxXd,kMMMMMMMMMWOo0WMW0oOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMKokWMMKoxNMMMMMMMMMNl;0NxlokKXNNNX0kxxOXMMMMWXNXkKMMMMMMMMKxdOMWKc,OKOldWMX: ;XMM
MMMWo .OMMNocKWOcoO0klckNMMMMMMMWO:ckKXKkdlcclokKNWMMWX00OOxoxNMMMMMMMMMMWOo0WMWOlOMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMKoxWMMKoxNMMMMMMMMMMMKdok0KKNMMMMMWKkl,,:ox0KX0xcdNMMMMMMMMN0dxO0OodNMKlxWM0' oWMM
MMMM0' lNMM0cdXWXOOOOO0WMMMWN0kxdlcloddoox0NWXklclodxxkkkkk0NMMMMMMMMMMMMMWOlxOkddKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXxoxOkoxNMMMMMMMMMMMMMWKOkxkOOOkkkxddk0KK0xdoddolodddkKNMMMMWX000KKNWKooXMWd..OMMM
MMMMNl '0MMMXkxkO0KXXXXKOxddoodkKNWMMMWMMMMMMMMMWNXKKXXNWMMMMMMMMMMMMMMMMMMW0xkOXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0kxONMMMMMMMMMMMMMMMMMMWWNXKKXNWMMMMMMMMMMWMMMWN0kddoddkO0KXXKK0OkxONMMX; :XMMM
MMMMMO. oNMMMMWX0OOkxxxxxkOXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKOkxxxkkkkO0XWMMMNd..xWMMM
MMMMMNo..lxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkx:..dNMMMM
MMMMMMNx;......................................................................................................................................................................................'c0WMMMMM
MMMMMMMMNK0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000O000OOKWMMMMMMM


    -->
    <div id="container">
        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/en">
                    <h1 class="title">&nbsp;</h1>
                </a>

                <nav>
                    <ul>
                        <li>
                            <a href="/"><img style="width:25px;" src="/static/img/dannebrog.png" />Danish Version</a>
                        </li>
                        <li><a href="/en/studiestarten.html">Study Start</a></li>

                        <li>
                            <ul>
                                <li><a href="/en/kabs.html">KABS</a></li>
                            </ul>
                        </li>
                        <script src="../static/js/konami.js">
                        </script>
                        <li><a href="/en/vektor.html">Vector</a></li>

                        <li>
                            <ul>
                                <li>
                                    <a href="/en/hvad-gor-det-for-mig.html">What's in it for me?</a>
                                </li>
                                <!-- <li>
                                    <a href="/en/alle-ture.html">All trips</a>
                                </li> -->
                                <li>
                                    <a href="/en/general-structure.html">General structure</a>
                                </li>
                                <li>
                                    <a href="/en/internationale-ture.html">English speaking teams</a>
                                </li>

                                <li><a href="/en/tidsforbrug.html">Time consumption</a></li>

                                <li><a href="/en/faq.html">FAQ</a></li>

                                <!--<li><a href="/en/ansog-som-vektor.html">Apply Now!</a></li>-->
                            </ul>
                        </li>
                        <!--
                        <li><a href="/en/hyttebums.html">Cabin bum</a></li>
                        <li>
                            <ul>
                                <li><a href="/en/ansog-som-hyttebums.html">Apply now!</a></li>
                            </ul>
                        </li>
                        <li><a href="/en/badekar.html">Bathtub</a></li> -->
                        <li><a href="/en/privatlivspolitik.html">Privacy policy</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        ​

        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    {{ content }}
                </article>
            </div>
            <!-- #main -->
        </div>
        <!-- #main-container -->

        <footer></footer>
    </div>
</body>

</html>
