<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
5
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
6
    <head>
7
        <meta charset="utf-8">
8
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
9
        <title>Become a Vector! - {{ page.title }}</title>
10
        <meta name="description" content="">
11
        <meta name="viewport" content="width=device-width, initial-scale=1">
12
       <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
13
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
14
​
15
        <link rel="stylesheet" href="/static/css/normalize.min.css">
16
        <link rel="stylesheet" href="/static/css/main.css">
17
​
18
        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
19
        <![if !IE]>
20
        <link rel="icon" href="url("../static/img/KABS17Cheddar.png")" type="image/x-icon" />
21
        <![endif]>
22
       <!-- This is needed for IE -->
23
        <link rel="shortcut icon" href="url("../static/img/favicon.ico")" 
24
        type="image/ico" />
25
    </head>
26
    <body>
27
        <!--[if lt IE 7]>
28
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
29
        <![endif]-->
30
​
31
    <div id="container">
32
        <div class="header-container">
33
            <header class="wrapper clearfix">
34
                <a href="/"><h1 class="title">&nbsp;</h1></a>
35
                <nav>
36
                    <ul>
37
                        <li><a href="/en/studiestarten.html">Study Start</a></li>
38
                        <li>
39
                                <ul>
40
                                        <li><a href="/en/kabs.html">KABS</a></li>
41
                                </ul>
42
                        </li>
43
                        <li><a href="/en/vektor.html">Vector</a></li>
44
                        <li>
45
                                <ul>
46
                                        <li><a href="/en/hvad-gor-det-for-mig.html">What do <em>I</em> get out of it?</a></li>
47
                                        <li><a href="/en/tidsforbrug.html">Time consumption</a></li>
48
                                        <li><a href="/en/ansog-som-vektor.html">Apply Now</a></li>
49
                                </ul>
50
                        </li>
51
                        <li><a href="/en/hyttebums.html">Cabin bum</a></li>
						<li>
							<ul>
								<li><a href="/en/ansog-som-hyttebums.html">Apply</a></li>
							</ul>
52
                    </ul>
53
                </nav>
54
               
55
            </header>
56
        </div>
57
​
58
        <div class="main-container">
59
            <div class="main wrapper clearfix">
60
            <article>
61
            
62
            {{ content }}
63
            </article>
64
            </div> <!-- #main -->
65
        </div> <!-- #main-container -->
66
        
67
        
68
            
69
            <footer>
70
            </footer>
71
    </div>
72
    </body>
73
</html>
74
